   @using Microsoft.AspNetCore.Identity
   @model List<Agent>

		   <div class="d-flex justify-content-between align-items-center">
		<div style="margin-top:10px;">
<span style="color:#596c81; font-size:28px; font-weight:600">Agents</span><br />
<span style="color:#596c81; font-size:14px; font-weight:300;text-align:justify;">List of active Agents</span>
</div>
<a asp-action="AddAgent" asp-controller="Manager"><button type="button" class="btn btn-primary" style="font-size:12px"><i class="bi bi-plus-lg"></i>&nbsp;&nbsp;Add agent</button></a>
</div>
<br />
<span style="color:#596c81; font-size:14px; font-weight:600;text-align:justify;">Count: @Model.Count()</span>
<br />


		@foreach (var agent in Model)
		{


						  <br />

							<div class="card" style="background-color:white;padding:0px; border:0px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); margin-left:50px; margin-right:50px">

				  <div class="card-body d-flex justify-content-between">
				  <div>

														  <h5 class="card-title" style="color:#7c50ca;font-weight:400"><i class="bi bi-person-fill" style="color:#D3bcf0"></i>&nbsp;@agent.Fullname</h5>
										<span class="card-text">@agent.PhoneNumber</span>
																				<p class="card-text">@agent.Email</p>

																<p class="card-text"><i class="bi bi-house-door-fill"></i>&nbsp;@agent.Address ,@agent.City</p>
				  </div>
				  <div class="d-flex flex-column">

												<a asp-action="EditAgent" asp-controller="Manager" asp-route-agentId="@agent.Id" class="btn btn-primary" style="width:80px; height:38px;background-color:#7688f6"><i class="bi bi-pencil-square"></i></a>
															<a class="deleteAgentBtn btn btn-primary" data-id="@agent.Id" style="width:80px; height:38px; margin-top:10px;background-color:white;border:1px solid #F28181"><i class="bi bi-trash-fill" style="color:#F28181"></i></a>
							</div>
							</div>
			</div>

@* 			<tr>
					<td>@agent.Id</td>
					<td>@agent.Fullname</td>
					<td>@agent.Email</td>
					<td>@agent.PhoneNumber</td>
					<td>@agent.Address</td> 
					<td>@agent.City</td> 
							<td><a asp-action="EditAgent" asp-controller="Manager" asp-route-agentId="@agent.Id">Edit</a></td>
				<td><a class="deleteAgentBtn" data-id="@agent.Id" >Delete</a></td>
			</tr> *@
		}




@section Scripts {

			<script>
						var agentId ;

				$(document).ready(function () {
					$(".deleteAgentBtn").click(function () {
						 agentId = $(this).data("id");
							console.log(agentId);
								console.log($(this).data("id"));
						$.ajax({
							url: '@Url.Action("CheckDelete", "Manager")',
							type: 'GET',
								data: { agentId: agentId },
							success: function (data) {
								if (data >= 1) {
								   $('#messageModal').modal('show');


								} else {
									console.log(agentId);
									  $('#confirmDelete').modal('show');

									}
							},
							error: function (error) {
								console.error('Error:', error);
							}
						});
					});
				});

					$("#confirmedDelete").click(function(){
						console.log(agentId);
											  var deleteUrl = '@Url.Action("DeleteAgent", "Manager")' + '?agentId=' + agentId;
							window.location.href = deleteUrl; 

					});

			</script>
}

<form id="deleteAgentForm" action="@Url.Action("DeleteAgent", "Admin")" method="post" style="display: none;">
	<input type="hidden" id="agentIdInput" name="agentId" />
</form>

<div class="modal fade" id="messageModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<h1 class="modal-title fs-5" id="exampleModalLabel">Delete Fail</h1>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	  </div>
	  <div class="modal-body">
		There are assigned agents to this manager. Please unassign the agents to delete the manager.
	  </div>
	  <div class="modal-footer">

	  </div>
	</div>
  </div>
</div>



<div class="modal fade" id="confirmDelete" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
		<h1 class="modal-title fs-5" id="exampleModalLabel">Confirm Delete</h1>
		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	  </div>
	  <div class="modal-body">
		On delete all the data of manager will be deleted.
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="background-color:#Abaaac">Cancel</button>
		<a  ><button type="button" class="btn btn-primary" id="confirmedDelete" >Delete</button></a>
	  </div>
	</div>
  </div>
</div>

